.screen-header
    .header__logo
        img.logo__img(src="img/logo.png")
    .header__roomname.hidden
        span RoomName :
        span.roomName #{roomName}
    .header__streamername.hidden
        span UserName : 
        span.userName #{userName}

    .streamingTitle
        .titleTop
            span [#{category}] - #{title}
        .titleButtom
            span.streamerName 제임스 오
            i.far.fa-clock
            span.titleTime #{startedAt} - #{endedAt}

    .haeder__exit
        botton.exit__button Exit