.screen-header
    .header__logo
        img.logo__img(src="img/logo.png")
        span.roomName.hidden #{roomName}
        span.userName.hidden #{userName}
        span.jwt.hidden #{jwt}
        span.expertId.hidden #{expertId}

    .streamingTitle
        .titleTop
            span [#{category}] - #{title}
        .titleButtom
            span.streamerName #{expertName}
            i.far.fa-clock
            span.titleTime #{startedAt} - #{endedAt}

    if streamer == false
        .haeder__exit
            button.exit__button 리뷰쓰기